.linkButton {
  color: white;
  background-color: #732acd;
  border: none;
  border-radius: 30px;
  transition: all .3s;
  padding: 10px;
  margin: 10px 0;

  &:hover {
    cursor: pointer;
    opacity: .5;
    transition: all .3s;
  }
}

.wrapper {
  max-width: 800px;
  width: 100%;
  border: 1px solid #c3b9b9;
  padding: 20px;
  margin: 20px auto 0;
}

.display {
  text-align: center;
  font-size: 20px;
  width: 50%;
  border: 1px solid #c3b9b9;
  border-radius: 30px;
  margin: 0 auto 20px;
}

.even {
  color: #732acd;
}

.odd {
  color: #2a94cd;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto 0;
}

.button {
  font-size: 25px;
  color: white;
  border: none;
  border-radius: 30px;
  width: 45px;
  transition: all .3s;

  &:hover {
    cursor: pointer;
    opacity: .5;
    transition: all .3s;
  }
}

.btnAction {
  background-color: #cd2a41;
}

.btnReset {
  background-color: #732acd;
  width: auto;
  padding: 0 15px;
}