.buttonsWrapper {
  display: flex;

  button {
    color: white;
    background-color: #732acd;
    border: none;
    border-radius: 30px;
    transition: all .3s;
    padding: 10px;
    margin: 10px;

    &:hover {
      cursor: pointer;
      opacity: .5;
      transition: all .3s;
    }
  }
}